In [12]:
print("Hello, World!")

Hello, World!

In [13]:
x = 1
mensagem = 'Teste'
continua = True

In [14]:
print(x, mensagem, continua)

1 Teste True

In [15]:
print("Conheça o bar Apóstrofo\'s")

Conheça o bar Apóstrofo's

In [16]:
print("A barra invertida é esta: \\")

A barra invertida é esta: \

In [17]:
print('No meio do caminho', end=' ')
print('tinha uma pedra')

No meio do caminho tinha uma pedra

In [18]:
print('No meio do caminho', end=' ####')

No meio do caminho ####

In [19]:
print('A', 'B', 'C', 0, sep="*")

A*B*C*0

In [20]:
print('A', '\n', 'B', '\n', 'C', '\n')

A
 B
 C

In [21]:
print('A', '\n', 'B', '\n', 'C', '\n', sep='\n')

A


B


C

In [22]:
%pwd

'c:\\Users\\jonat\\Desktop\\python_ds\\capitulos'

In [23]:
%cd

C:\Users\jonat

In [24]:
"""
Este programa escreve 'Hello, World!' na saída padrão
Este é um comentário de múltiplas linhas
"""

print('Hello, World') # Escreve na tela (Comentário de uma só linha)

Hello, World

In [25]:
x = 1   # x contém um inteiro

In [26]:
print(type(x))

<class 'int'>

In [27]:
x = 'abc'   # Agora, x contém uma string

In [28]:
print(type(x))

<class 'str'>

In [29]:
x = True   # E agora, x contém um booleano

In [30]:
print(type(x))

<class 'bool'>

In [31]:
print('Código de usuário %d' %27)

Código de usuário 27

In [32]:
print('15 em octal é %o' %15)

15 em octal é 17

In [33]:
print('100 em hexadecimal é %x' %100)

100 em hexadecimal é 64

In [34]:
print('pi com duas casas decimais é aproximadamente %.2f' %3.1415926)

pi com duas casas decimais é aproximadamente 3.14

In [35]:
print('pi com três casas decimais é aproximadamente %.3f' %3.1415926)

pi com três casas decimais é aproximadamente 3.142

In [36]:
nome = 'Fulano'

print('Meu nome é %s' %nome)

Meu nome é Fulano

In [37]:
print('Constantes - pi: %.2f, e %.2f' %(3.1415926, 2.718281))

Constantes - pi: 3.14, e 2.72

In [38]:
codigo = 27

In [39]:
pi = 3.1415926

In [40]:
print(f'Código do usuário: {codigo}')

Código do usuário: 27

In [41]:
print(f'15 em octal é {15:o}')

15 em octal é 17

In [42]:
print(f'100 em hexadecimal é {100:x}')

100 em hexadecimal é 64

In [43]:
print(f'pi com duas casas decimais é aproximadamente {pi:.2f}')

pi com duas casas decimais é aproximadamente 3.14

In [44]:
print(f'pi com três casas decimais é aproximadamente {pi:.3f}')

pi com três casas decimais é aproximadamente 3.142

In [45]:
nome = 'Fulano'

print(f'Meu nome é {nome}')

Meu nome é Fulano

In [46]:
print(f'A média aritmética simples entre 4 e 5 é {(4+5)/2}')

A média aritmética simples entre 4 e 5 é 4.5

In [47]:
soma = 0
for i in range(1, 101):
    soma += i      # o suíte do código
    
print(f'A soma dos números de 1 a 100 é {soma}')

A soma dos números de 1 a 100 é 5050

In [48]:
matrix_4x3 = [[21, 22, 23],
              [24, 25, 26],
              [27, 28, 29],
              [30, 31, 32]]

In [49]:
print(matrix_4x3)

[[21, 22, 23], [24, 25, 26], [27, 28, 29], [30, 31, 32]]

In [50]:
"""Exemplo de variável global"""

codigo = '123321' # Definição fora do corpo da função - variável global

In [51]:
def testar():
    print(f'Dentro da função testar(), codigo = {codigo}')

In [52]:
testar()
print(f'Fora da função testar(), codigo = {codigo}')

Dentro da função testar(), codigo = 123321
Fora da função testar(), codigo = 123321

In [53]:
teste1 = 123

In [61]:
def funcao_f():
    global teste2
    teste2 = 456
    for x in range(1, 10):
        z = x * 2
        print(f'z = {z}')
# print(f'Valor de z, após o loop: {z}')
print(f'Valor de teste1, dentro da função: {teste1}')
print(f'Valor do teste2, dentro da função: {teste2}')

Valor de teste1, dentro da função: 123
Valor do teste2, dentro da função: 456

In [62]:
funcao_f()
print(f'Valor de teste1, fora da função: {teste1}')
print(f'Valor de teste2, fora da função: {teste2}')
# print(f'Valor de z, após o loop: {z}')

z = 2
z = 4
z = 6
z = 8
z = 10
z = 12
z = 14
z = 16
z = 18
Valor de teste1, fora da função: 123
Valor de teste2, fora da função: 456

#### Operadores: aritméticos, lógicos e de comparação

In [ ]:
# Adição:
x = 1 + 2
y = a + b
x = x + 1

In [ ]:
# Subtração:
a = 4 - 3
y = a - 2
z = z - 3

In [ ]:
# Multiplicação: 
x = x * y
x = 3 * z
a = a * c

In [ ]:
# Divisão
v = 4 / 2
w = v / 3
t = t / 5

In [ ]:
# Resto: (inteiro) da divisão dos operandos - essa operação é denominada módulo
a = x % 11
b = 5 % 3
b = b % 2

In [ ]:
# Potenciação
x = 2 ** 3
y = x ** 5
z = z ** x

In [ ]:
# Divisão inteira
a = 10 // 3
b = a // 5
c = c // 4

In [ ]:
# pode ser escrito dess forma as operações
b += 1
c -= b
d *= c
x /= 7

In [64]:
7 + 6 * 5

37

In [65]:
(7 + 6) * 5

65

In [66]:
print(5 * 2 // 3)

3

In [67]:
print(5 * (2 // 3))

0

In [68]:
print(2 ** 2 ** 3)
print((2 ** 2) ** 3)

256
64

In [69]:
# Operadores de igualdade

In [70]:
print(5 == 3)
print(10 == 10)
print('maçã' == 'maçã')
print('maçã' == 'Maçã')
print(2 + 2 == 4)
print(10 == 10.0)

False
True
True
False
True
True

In [71]:
print(5 != 3)
print(10 != 10)
print('maçã' != 'maçã')
print('maçã' != 'Maçã')
print(2 + 2 != 4)
print(10 != 10)

True
False
False
True
False
False

In [72]:
# Operadores lógicos

In [ ]:
# and 
"""
Retorna True se ambos os seus argumentos forem True. 
Equivale ao E da lógica matemática
"""

In [ ]:
# or
"""
Retorna True se ao menos um de seus argumentos for True.
Equivale ao OU da lógiica matemática
"""

In [ ]:
# not
"""
Inverte o resultado de seu operando: se receber True, retorna False;
se receber False, retorna True. Equivale à NEGAÇÃO da lógica matemática
"""

In [74]:
import pandas as pd

In [76]:
Tabela_logica = pd.DataFrame(
    {
        'x': [True, True, False, False],
        'y': [True, False, True, False],
        'x and y': [True, False, False, False],
        'x or y': [True, True, True, False],
        'not x': [False, False, True, True]
    }
)


Tabela_logica

       x      y  x and y  x or y  not x
0   True   True     True    True  False
1   True  False    False    True  False
2  False   True    False    True   True
3  False  False    False   False   True

In [77]:
# Operadores de comparação

In [79]:
# > (Maior que)
print(2 > 3)
print(4 > 2)
print(5 > 5)

False
True
False

In [82]:
# < (Menor que)
print(10 < 12)
print(30 < 15)
print(20 < 20)

True
False
False

In [83]:
# >= (Maior igual)
print(51 >= 52)
print(53 >= 51)
print(51 >= 51)

False
True
True

In [84]:
# <= (Menor igual)
print(3 <= 6)
print(9 <= 3)
print(3 <= 3)

True
False
True

#### Módulos

In [85]:
# Para importar uma ou mais funções de um módulo, você precisa escrever:
# from nome_do_módulo import identificador_1, identificador_2...identificador_n

Onde:
- **nome_do_módulo** é o identificador do módulo a ser importado.
- **identificador_1, identificador_2...identificador_n** são os nomes das funções/classes do módulo

In [86]:
# Exemplo (alias("apelido"))
import matplotlib.pyplot as plt
import pandas as pd

In [87]:
# pd.read_csv('arquivo.csv') Chamando a partir do alias do pd

In [88]:
# Ou
# from pandas import read_csv
# read_csv('arquivo.csv') Chamando sem o alias