#### Bibliotecas para Data Science

Pandas, Numpy e Scikit-Learn

In [1]:
# carregando um arquivo de dados com Pandas

In [4]:
import pandas as pd

In [6]:
dataframe = pd.read_csv('../dados/tempo_salarios.csv')
dataframe.head()

   AnosdeExperiencia  Salario
0                1.1  39343.0
1                1.3  46205.0
2                1.5  37731.0
3                2.0  43525.0
4                2.2  39891.0

In [7]:
# criando objetos Series

In [12]:
print('criando uma instância de Series a partir de uma\
 lista numérica:')

copa_do_mundo = pd.Series([1952, 1962, 1970, 1994, 2002])

print('anos em que o Brasil foi campeão mundial de futebol:')
print(f'{copa_do_mundo}')

criando uma instância de Series a partir de uma lista numérica:
anos em que o Brasil foi campeão mundial de futebol:
0    1952
1    1962
2    1970
3    1994
4    2002
dtype: int64

In [13]:
s = pd.Series((1, 2, 3))
print(f'\ncriando uma série a partir de uma tupla:')
print(s)
print(f'tipo de variável: {type(s)}')

criando uma série a partir de uma tupla:
0    1
1    2
2    3
dtype: int64
tipo de variável: <class 'pandas.core.series.Series'>

In [14]:
s = pd.Series({'a': 1, 'b': 2, 'c': 3})
print('\ncriando uma série a partir de um dicionário:')
print(s)
print(f'tipo da variável: {type(s)}')

criando uma série a partir de um dicionário:
a    1
b    2
c    3
dtype: int64
tipo da variável: <class 'pandas.core.series.Series'>

In [18]:
s = pd.Series(['Wes McKinney', 'Criador da Pandas'], 
              index = ['Pessoa', 'Quem'])

print(f'\ncriando uma série a partir de uma lista de \
 valores e outra de rótulos:')

print(s)
print(f'tipo da variável: {type(s)}')

criando uma série a partir de uma lista de  valores e outra de rótulos:
Pessoa         Wes McKinney
Quem      Criador da Pandas
dtype: object
tipo da variável: <class 'pandas.core.series.Series'>